{% extends "variants/index.html" %}

{% block page_title %}
<div class="row-fluid">
  <div class="span10">
    {{ variant.name }}
  </div>
  <div class="span2">
    {% block variant_edit_button %}<a class="btn btn-primary btn-large" href="{% url 'variants:edit' variant.name %}">Edit variant</a>{% endblock variant_edit_button %}
  </div>
</div>
{% endblock page_title %}

{% block content %}
<div class="row">
  <div class="span10 lead">
    {{ variant_review.review_summary }}
  </div>
  <div class="span2 muted">
    HGNC ID: <A HREF="http://http://www.genenames.org/data/hgnc_data.php?hgnc_id={{ variant.gene.hgnc_id }}">{{ variant.gene.hgnc_id }} <i class="icon-external-link-sign"></i></A>
    <br />
    NCBI Gene ID: <A HREF="http://www.ncbi.nlm.nih.gov/gene/{{ variant.gene.ncbi_gene_id }}">{{ variant.gene.ncbi_gene_id }} <i class="icon-external-link-sign"></i></A>
    {% if variant.gene.mim_id %}
    <br />
    OMIM: <A HREF=http://omim.org/entry/{{ variant.gene.mim_id }}>{{variant.gene.mim_id}} <i class="icon-external-link-sign"></i></A>
    {% endif %}
    {% if variant.gene.clinical_testing %}
    <br />
    <A HREF="http://www.ncbi.nlm.nih.gov/gtr/genes/{{ variant.gene.ncbi_gene_id }}/">Genetic Testing Reg. <i class="icon-external-link-sign"></i></A>
    {% endif %}
    {% if variant.gene.acmg_recommended %}
    <br />
    <b> ACMG recommended </b>
    {% endif %}
    <br />
  </div>
</div>

<div class="row">
  <div class="span6">
    <h3>Evidence</h3>
    <table class="table table-condensed">
      <tr>
	<td><h5 style="margin:0">Computational</h5></td>
	<td>{% include "variants/score_display.html" with score=variant_review.evidence_computational %}</td>
      </tr>
      <tr>
	<td><h5 style="margin:0">Functional</h5></td>
	<td>{% include "variants/score_display.html" with score=variant_review.evidence_functional %}</td>
      </tr>
      <tr>
	<td><h5 style="margin:0">Case/control</h5></td>
	<td>{% include "variants/score_display.html" with score=variant_review.evidence_casecontrol %}</td>
      </tr>
      <tr>
	<td><h5 style="margin:0">Familial</h5></td>
	<td>{% include "variants/score_display.html" with score=variant_review.evidence_familial %}</td>
      </tr>
    </table>
  </div>
  <div class="span6">
    <h3>Clinical impact</h3>
    <table class="table table-condensed">
      <tr>
	<td><h5 style="margin:0">Severity</h5></td>
	<td>{% include "variants/score_display.html" with score=variant_review.clinical_severity %}</td>
      </tr>
      <tr>
	<td><h5 style="margin:0">Treatability</h5></td>
	<td>{% include "variants/score_display.html" with score=variant_review.clinical_treatability %}</td>
      </tr>
      <tr>
	<td><h5 style="margin:0">Penetrance</h5></td>
	<td>{% include "variants/score_display.html" with score=variant_review.clinical_penetrance %}</td>
      </tr>
    </table>
  </div>
</div>

<hr />

<div class="row">
  <div class="span6">
    <h4>Impact</h4>
    <p>{{ variant_review.impact }}</p>
  </div>
  <div class="span6">
    <h4>Inheritance</h4>
    <p>{{ variant_review.inheritance }}</p>
  </div>
</div>

<hr />

<h4>Long review</h4>
<p style="white-space:pre-wrap;">{{ variant_review.review_long }}</p>

<hr />

<h4> Additional data </h4>
<p>
dbSNP: {{ dbsnps|join:", " }}
</p>

<hr />

<h3> Publications </h3>

<ul>
{% for varpubreview in varpubreviews %}
<li>
  <p>{{ varpubreview.publication.author_list }} <strong>"{{ varpubreview.publication.title }}"</strong> {{ varpubreview.publication.journal }}. {{ varpubreview.publication.pub_date }}; {{ varpubreview.publication.journal_location }}. PMID: <A HREF=http://www.ncbi.nlm.nih.gov/pubmed/{{ varpubreview.publication.pmid }}>{{ varpubreview.publication.pmid }} <i class="icon-external-link-sign"></i></A></p>
  <div class="well"><small><strong>Abstract: </strong>{{ varpubreview.publication.abstract }}</small></div>
  <p>{{ varpubreview.summary }}</p>
</li>
{% endfor %}
</ul>

<div class="addpub_button">
  <p>
    <button class="btn">Add publication</button>
  </p>
</div>

<div class="addpub_form">
  <form class action="{% url 'variants:add_pub' variant.name %}" method="post">
    {% csrf_token %}
    <label for="id_pmid">Pubmed ID:</label>
    {{ addvarpubreview_form.pmid }}
    <p><input type="submit" value="Submit" /></p>
  </form>
</div>
{% endblock content %}


{% block extra_js %}
<script>
  $(function() {
    console.log("loading script")
    $(".addpub_form").hide();
    $(".addpub_button").click(function() {
      $(".addpub_button").hide();
      $(".addpub_form").show();
    });
  });
</script>
{% endblock extra_js %}
