{% extends "variants/index.html" %}

{% block page_title %}{{ variant.name }}{% endblock page_title %}

{% block content %}
<div class="row">
  <div class="span10 lead">
    {{ variant_review.review_summary }}
  </div>
  <div class="span2 muted text-right">
      Gene: {{ variant.gene.hgnc_name }}
  </div>
</div>


<div class="row">
  <div class="span6">
    <h4>Evidence</h4>
    Computational: {{ variant_review.evidence_computational }}
    <br />
    Functional: {{ variant_review.evidence_functional }}
    <br />
    Case/control: {{ variant_review.evidence_casecontrol }}
    <br />
    Familial: {{ variant_review.evidence_functional }}
  </div>
  <div class="span6">
    <h4>Clinical impact</h4>
    Severity: {{ variant_review.clinical_severity }}
    <br />
    Treatability: {{ variant_review.clinical_treatability }}
    <br />
    Penetrance: {{ variant_review.clinical_penetrance }}
  </div>
</div>
<p/>

<p><strong>Impact:</strong> {{ variant_review.impact }}</p>

<p><strong>Inheritance:</strong> {{ variant_review.inheritance }}</p>

<p><strong>Long review:</strong> {{ variant_review.review_long }}</p>

<h4> Additional data </h4>
<p>
dbSNP: {{ dbsnps|join:", " }}
</p>

<p>
<a href="{% url 'variants:edit' variant.name %}">Edit variant</a>
</p>
{% endblock content %}
