{% load bootstrap_toolkit %}
{% bootstrap_stylesheet_tag %}

<p><h1>{{ variant.name }}</h1></p>

<p>
Gene: {{ variant.gene.hgnc_name }}
</p>

<p>
Summary: {{ variant_review.review_summary }}
</p>

<p>
<h3>Evidence</h3>
Computational: {{ variant_review.evidence_computational }}
<br />
Functional: {{ variant_review.evidence_functional }}
<br />
Case/control: {{ variant_review.evidence_casecontrol }}
<br />
Familial: {{ variant_review.evidence_functional }}
</p>
<p>
<h3>Clinical impact</h3>
Severity: {{ variant_review.clinical_severity }}
<br />
Treatability: {{ variant_review.clinical_treatability }}
<br />
Penetrance: {{ variant_review.clinical_penetrance }}
</p>

<p>
Impact: {{ variant_review.impact }}
</p>

<p>
Inheritance: {{ variant_review.inheritance }}
</p>

<p>
{{ variant_review.review_long }}
</p>

<h4> Additional data </h4>
<p>
dbSNP: {{ dbsnps|join:", " }}
</p>

<p>
<a href="{% url 'variants:edit' variant.name %}">Edit variant</a>
</p>
