{% extends "base.html" %}

{% block navbar_list %}
<li><a href="/">Home</a></li>
<li class="active"><a href="/variant">Variants</a></li>
{% endblock navbar_list %}

{% block page_title %}Variants{% endblock page_title %}

{% block content %}
{% if variant_list %}
<div class="row">
<table class="table span6 table-hover">
  {% for variant in variant_list %}
  <tr><td><a href="{% url 'variants:detail' variant.name %}">{{ variant.name }}</a></td></tr>
{% endfor %}
</table>
</div>
{% else %}
<p>No variants are available.</p>
{% endif %}

<p><a class="btn btn-primary" href="{% url 'variants:new' %}">Create new variant</a></p>

{% endblock content %}
