{% extends "base.html" %}

{% block navbar_list %}
<li><a href="/">Home</a></li>
<li class="active"><a href="/variant">Variants</a></li>
{% endblock navbar_list %}

{% block page_title %}Variants{% endblock page_title %}

{% block content %}
{% if variant_list %}
<div class="row">
<table class="table span6 table-hover">
  {% for variant in variant_list %}
  <tr><td><a href="{% url 'variants:detail' variant.name %}">{{ variant.name }}</a></td></tr>
{% endfor %}
</table>
</div>
{% else %}
<p>No variants are available.</p>
{% endif %}

<div class="addvar_button">
  <p>
    <button class="btn btn-primary">Create new variant</button>
  </p>
</div>

<div class="addvar_form">
  <form action="{% url 'variants:new' %}" method="post">
    {% csrf_token %}
    Gene: <input type="text" name="gene" /><br />
    Reference amino acid (single letter): <input type="text" name="aa_reference" /><br />
    Position (integer): <input type="text" name="aa_position" /><br />
    Variant amino acid (single letter): <input type="text" name="aa_variant" /><br />
    <input type="submit" value="Submit" />
  </form>
</div>
{% endblock content %}


{% block extra_js %}
<script>
  $(function() {
    console.log("loading script")
    $(".addvar_form").hide();
    $(".addvar_button").click(function() {
      $(".addvar_button").hide();
      $(".addvar_form").show();
    });
  });
</script>
{% endblock extra_js %}
