{% extends "base.html" %}

{% block page_title %}New Variant{% endblock page_title %}

{% block content %}
<form action="{% url 'variants:new' %}" method="post">
{% csrf_token %}
Gene: <input type="text" name="gene" /><br />
Reference amino acid (single letter): <input type="text" name="aa_reference" /><br />
Position (integer): <input type="text" name="aa_position" /><br />
Variant amino acid (single letter): <input type="text" name="aa_variant" /><br />
<input type="submit" value="Submit" />
</form>
{% endblock content %}
