{% load variants_extras %}

{% if score == None %}
  {% for i in 6|get_range %}
    <i class="icon-star-empty getev-lightgray"></i>
  {% endfor %}
{% else %}
  {% if score == -1 %}
    <i class="icon-star getev-red"></i>
    {% for i in 5|get_range %}
    <i class="icon-star-empty getev-gray"></i>
    {% endfor %}
  {% else %}
    <i class="icon-star-empty getev-gray"></i>
    {% for i in score|get_range %}
      <i class="icon-star getev-blue"></i>
    {% endfor %}
    {% for i in score|multiply:"-1"|add:"5"|get_range %}
      <i class="icon-star-empty getev-gray"></i>
    {% endfor %}
  {% endif %}
{% endif %}
